<h1>Welcome to the Files Component!</h1>

<div class="my-container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
<div class='row'>
    <div class='col-md-12'>
        <span>Your USER access token is</span>    
        <input id='token' class='form-control' [value]='accessToken'/>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <span>Your APP access token is</span>
        <input id='apptoken' class='form-control' [value]='appAccessToken'/>
    </div>
</div>
<br />
<br />
<div class='row'>
    <div class='col-md-12'>
        <span>Folder Name</span>
    </div>
    <div class='col-md-4'>
        <input id='folderName' class='form-control'>
    </div>
</div>
<div class='row'>
    <br />
    <div class='col-md-12'>
        <label class="btn btn-w btn-primary btn-sm btn-file">
            Browse   <input type="file" id='fileUpload' (click)="clearSuccess()">
        </label>
        <button id='btnUpload' (click)="uploadFiles()" class='btn btn-w btn-sm btn-primary'>Upload</button>
        <button id='refesh' (click)="getDocuments()" class='btn btn-w btn-sm btn-primary'>Refresh</button>
        <button id='createUploadSession' (click)="createUploadSession()" class='btn btn-sm btn-primary'>Upload via Session</button>
    </div>   
    <br />
</div>
<div id='SuccessBanner' style="border: 1px solid green; background-color: green;" hidden>
    <span>File Uploaded Successfully!</span>
</div>
<div id='FailBanner' style="border: 1px solid red; background-color: red;" hidden>
        <span>Error! See console log for more information</span>
    </div>


<table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class='center'>Type</th>
                <th class='center'>File / Folder Name</th>
                <th class='center'>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let file of files'>
                <td style="text-align:center;">
                    <span *ngIf="file.file">File</span>
                    <span *ngIf="!file.file">Folder</span>
                </td>
                <td style="text-align:center;"><a href='{{file.webUrl}}' target="_blank">{{file.name}}</a></td>
                <td style="text-align:center;">{{file.size}}</td>
            </tr>
        </tbody>
    </table>